@model MvcLabManager.Models.Lab

@{
    //interpolação de string
    ViewData["Title"] = $"Laboratório {Model.Id}";
}
<h1>@ViewData["Title"]</h1>

<p>Id: @Model.Id</p>
<p>Número: @Model.Number</p>
<p>Nome: @Model.Name</p>
<p>Bloco: @Model.Block</p>